@{
    ViewBag.Title = "lab03";
}

<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fast-xml-parser/3.20.3/parser.min.js" integrity="sha512-gVI62Vp7WajK2jl94LrCBg8HbVcAXRx9pUbOfII0d1HGr8ahN2F/sIASFRB+qqBXq7atNBmxiWxxIoOWcDYbow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="utf-8" />
</head>

<body>

    <div class="alert" id="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div id="alert-text"></div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-5">
                <h4 class="text-center"><b>New student data</b></h4>

                <form id="add" class="form-horizontal">

                    <div class="center-block">
                        <label for="name">Name</label>

                        <input name="name"
                               id="name"
                               type="text"
                               class="form-control"
                               placeholder="Enter name" />
                    </div>
                    <br />

                    <div>
                        <label for="phone">Phone</label>
                        <input name="phone"
                               id="phone"
                               type="text"
                               class="form-control"
                               placeholder="Enter phone number" />
                    </div>
                    <br />

                    <div>
                        <button type="button" class="btn btn-success form-control">ADD</button>
                    </div>
                </form>
            </div>

            <div class="col-md-5 col-md-offset-1">
                <h4 class="text-center"><b>Search & Filters</b></h4>
                    
                <form id="search" class="form-horizontal">
                    <div>
                        <label for="name">Name</label>
                        <input name="name"
                               id="name"
                               type="text"
                               placeholder="Name"
                               class="form-control" />
                    </div>
                    <br />

                    <div>
                        <label for="phone">Phone</label>
                        <input name="phone"
                               id="phone"
                               type="text"
                               placeholder="Phone"
                               class="form-control" />
                    </div>
                    <br />

                    <div>
                        <label for="columns">Show columns</label>
                        <input name="columns"
                               id="columns"
                               type="text"
                               placeholder="Columns"
                               class="form-control"
                               value="ID,NAME,PHONE" />
                    </div>
                    <br />

                    <div>
                        <label for="orderby">Order by name</label>
                        <input name="orderby"
                               id="orderby"
                               type="checkbox"
                               class="checkbox-inline"
                               placeholder="Name" />
                    </div>
                    <br />

                    <div>
                        <label for="offset">Offset</label>
                        <input name="offset"
                               id="offset"
                               type="number"
                               class="form-control"
                               placeholder="Offset"
                               value="0" />
                    </div>
                    <br />

                    <div>
                        <label for="limit">Limit</label>
                        <input name="limit"
                               id="limit" type="number"
                               class="form-control"
                               placeholder="Limit"
                               value="5" />
                    </div>
                    <br />


                    <div>
                        <label for="minId">Min id</label>
                        <input name="minId"
                               id="minId"
                               type="number"
                               class="form-control"
                               placeholder="minId"
                               value="0" />
                    </div>
                    <br />

                    <div>
                        <label for="maxId">Max id</label>
                        <input name="maxId"
                               id="maxId"
                               type="number"
                               class="form-control"
                               placeholder="maxId"
                               value="1000" />
                    </div>
                    <br />

                    <div>
                        <label for="globallike">Global like</label>
                        <input name="globallike"
                               id="globallike"
                               type="text"
                               placeholder="ID+NAME+PHONE"
                               class="form-control" />
                    </div>
                    <br />

                    <div>
                        <label for="xml">XML</label>
                        <input name="xml"
                               id="xml"
                               type="checkbox"
                               class="checkbox-inline"
                               placeholder="XML" />
                    </div>
                    <br />

                    <div>
                        <button class="btn btn-success form-control" type="button">CONFIRM</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="row">

            <table id="student-list" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Action</th>
                        <th>Link</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

        </div>

        <nav>
            <ul id="pag" class="pagination justify-content-center">
            </ul>
        </nav>

    </div>

    <div class="modal fade"
         id="update-modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">

        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabel">
                        Edit student #<label id="update-id"></label>
                    </h4>

                </div>

                <div class="modal-body">

                    <form id="update-form">

                        <input name="id" type="hidden" />

                        <div class="form-group">
                            <label for="name">Name</label>

                            <input name="name"
                                   id="name"
                                   type="text"
                                   class="form-control"
                                   placeholder="Enter name" />
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone</label>

                            <input name="phone"
                                   id="phone"
                                   type="text"
                                   class="form-control"
                                   placeholder="Enter phone number" />
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-warning form-control">Update</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
</body>

@Scripts.Render("~/Scripts/Ajax.js")
</html>
